<h3>Log in to your account</h3>

<form action="/login" method="POST">
    <h2>
    <label for="username">Username: </label><input id="username" type="text" name="username"><br>
    <label for="password">Password: </label><input id="password" type="password" name="password"><br>
    <input type="submit" value="Log In">
    </h2>
</form>
