<h1>A Better Star Wars Holiday Special</h1>
<% if logged_in? %>
    <h5>Logged in User ID: <%=current_user.username %></h5>
<%end%>


<h4>So you thought the Holiday Special was lame, eh? How about we write a better one? </h4>
<p>Like any Mad Lib, you will be presented with a variety of nouns, adjectives, verbs, and more.
 What you enter does not have to specific to the Star Wars universe, but if you get stuck and need 
 help with a word or phrase, select "Fake It" next to the blank and we'll fill in something for you.</p>

<p>Ready to get started? Click <a href="/starwars/new">*HERE*</a> to fill in your blanks.
