<h1>Insert the form to create a new instance of your model.</h1>
<!--
TITLE OF STORY 
<form method="POST" action="/starwars">
    <input type="text" name="noun1" value="Noun" id=???>

EXAMPLE
enter a verb or select a random one (Faker)
enter a name or random
adjective
quote
location
adjective
location
noun
number
person
quote
verb





Submit button
</form>




-->