<h1>This is the show page for an individual instance of your model.</h1>

A Better Star Wars Holiday Special

'Twas the night before Christmas, when all through PLANET,
Not a SPECIE1 was stirring, not even a Wookie.
The lightsabers were VERB1 by the NOUN1 with care,
In hopes that St. Yoda soon would be there.

The SPECIE2 were nestled all snug in their beds,
While visions of a Ewoks danced in their heads.
And Han Solo in his Falcon, and I in my VEHICLE1,
Had just VERB2 our brains for a long winter's NOUN2.

When out in the swamp there arose such a clatter,
I VERB3 from my bunk to see what was the matter.
When what to my ADJECTIVE1 eyes did appear,
But a miniature VEHICLE2 and NUMBER1 tiny SPECIE3!

With a little green driver so grumpy and old,
I knew in a moment he was Yoda, as told.
More rapid than ANIMAL1 his coursers they came,
And he whistled, and shouted, and called them by name:

"Now, NAME1! now, NAME2! now CHARACTER1 and CHARACTER2!
On, Chewie! on, Boba! on, Lando and CHARACTER3!"
As I drew in my NOUN3, and was turning around,
Down the chimney St. Yoda came with a frown.

His ADJECTIVE2 green ears were sprawled out like wings,
And the wrinkles in his skin were as ADJECTIVE3 as NOUN4;
His light saber hung from his belt with great care,
with a promise of the Force if we're worthy and ADJECTIVE4. 

He spoke not a word as he erased Jar-Jar Binks,
And slapped Luke for whining, faster than a blink.  
As he hobbled away with a VERB4 of his ears,
He gave a nod to the fans as they called out with cheer!

"Thank you, St. Yoda! You're the best Jedi we know!"
He smiled and returned to his VEHICLE3 to go.
But I heard him exclaim, as he drove out of sight—
"A Merry Christmas, you have." and "QUOTE1"