<div class="container">
  <header><img src="images/logo.png" width="1000px" align="center" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>It's a Mad, Mad World of Mad Libs!</h2>

    <div class="about">
      <p>The first Mad Lib was created in 1953 by Leonard Stern and Roger Price. It stemmed from Leonard's frustration 
      at being stuck on a project. (I can relate.) Stern had been working on a script for a TV show 
      that had the same setup every week-- character does something hilarious but his wife gets mad.
      When Price started offering up funny adjectives and ideas to fill in the blanks, hilarity ensued and
       the fun of Mad Libs never stopped.</p>
       <p>Inside you will be able to write your own fun stories using themed Mad Lib templates. There's also an option included  
       for if you'd like us to enter something for you. Log in or sign up to join the Mad World of Mad Libs!</p>
    </div>
<br><hr><br>
</div>
<table>
  <tr>
    <th><h3>Log In to Your Account</h4></th>
    <th><h3>Current Madlib(s):</h3></th>
  </tr>
  <tr>
    <td>
        <form action="/login" method="POST">
          <h2>
          <label for="username">Username: </label><input id="username" type="text" name="username"><br>
          <label for="password">Password: </label><input id="password" type="password" name="password"><br>
          <input type="submit" value="Log In">
        </h2>
      </form>
    </td>
    <td>
      <div>
        <ul>
          <li>A Better Star Wars Holiday Special</li>
        </ul>
      </div>  
    </td>
  </tr>
  <tr>
    <th><h3>Create an Account</h3></th>
    <th><h3>Coming Soon...</h3></th>
  </tr>
  <tr>
    <td> 
      <div class="signup">
      <form method="POST" action="/signup"> 
        <h3>
        <label for="username">Username: </label><input type="text" name="username"><br>
        <label for="email">Email: </label><input type="text" name="email"><br>
        <label for="password">Password: </label><input type="password" name="password"><br>
        <input type="submit" value="Sign Up">
        </h3>
    </form>
      </div>
    </td>
        <td>
      <div>
        <ul>
          <li>Harry Potter and the Missing Words</li>
          <li>Coders Guide to the Galaxy</li>
          <li>Doctor Who-ville</li>
        </ul>
      </div>  
    </td>
  </tr>
</table>
  

