<div class="container">
  <header><img src="images/logo.png" width="1000px" align="center" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>It's a Mad, Mad World of Mad Libs!</h2>

    <div class="content">
      <p>The first Mad Lib was created in 1953 by Leonard Stern and Roger Price. It stemmed from Leonard's frustration 
      at being stuck on a project. (I can relate.) Stern was had been working on script for a TV show
      that had the same setup every week-- character does something hilarious but his wife gets mad.
      When Price started offering up funny adjectives and ideas to fill in the blanks, hilarity ensued and
       the fun of Mad Libs never stopped.</p>
    </div>

    <div class="sidebar">
      <h3>Current Madlib(s)</h3>
      <ul>
        <li><a href="/starwars">A Better Star Wars Holiday Special</a></li>
      </ul>
      <h3>Coming Soon...</h3>
      <ul>
        <li>Harry Potter and the Missing Words</li>
        <li>Coders Guide to the Galaxy</li>
        <li>Doctor Who-ville</li>
      </ul>
    </div>

  </div>
</div>
