<center>
<h1>Where are you trying to go?<br>
<img src="../images/uhh-wookies.jpg" class ="whoopsie" width="800px" align="center">
<br>
<h2>Error 404: "You cannot escape the madness!"
<br>
<a href="/">RUN AWAY!!!</a>
</h1>
</center>